.job-toggle
  display: block
  padding: 10px 20px
  background: white
  width: 100px
  border: 0
  margin-bottom: 10px
  color: $primary
  font-family: $sans
  font-size: 14px
  cursor: pointer
  transition: all 0.3s ease-in-out
  &:hover
    background-color: $primary
    color: white
  &:active
    background-color: $primary
  .is-checked
    background-color: $primary
    color: white

.job-toggle-group:after
  content: ''
  display: block
  clear: both
  outline: none

.job-toggle-group .job-toggle
  border-radius: 0
  margin-left: 0
  margin-right: 1px

.results-container
  background: transparent
  +span-columns(8 of 12)
  &:after
    content: ''
    display: block
    clear: both

.ui-group
  display: block

.ui-group h6
  font-size: 14px
  color: $primary
  font-family: $header
  display: block

.ui-group .job-toggle-group
  display: block
  margin-right: 20px

.job-box
  width: 600px
  height: 100px
  margin: 5px
  display: block
  border-top: 8px solid $tertiary

.filters
  +span-columns(3 of 12)



//.filter-item input[type="checkbox"]
//  display: inline
//  margin: 5px 5px 5px 0
//  background-color: #ddd
//  &:focus
//    background-color: $tertiary

//.filter-item label
//  display: inline
//  font-family: $sans
//  font-size: 14px
//  margin: 10px 0
//  color: $text

//.filter-wrap
//  +span-columns(3 of 12)
//  margin: 0 5% 0 0
//  padding: 0
//  display: block
//  +media($mobile)
//    display: none

//.filters
//  background-color: white
//  padding: $spacer-cyan $spacer-green
//  h4
//    font-size: 13px
//    color: $tertiary
//    margin: 0
//    padding: 5px 0
//    font-family: $sans
//    font-weight: 700

//.results
//  +span-columns(8 of 12)
//  +media($mobile)
//    +span-columns(4 of 4)

//.job-result
//  background-color: white
//  width: 100%
//  margin: 0 0 25px 0
//  padding: $spacer-green $spacer-cyan
//  color: $primary
//  border-top: 6px solid $tertiary
//  h4
//    margin: 0
//    padding: 7px 0
//    font-size: 26px
//    font-family: $header
//    line-height: 1.4
//    +media($xsmall)
//      margin-bottom: 16px
//  ul
//    list-style-type: none
//    margin: 0
//    padding: 0
//    li
//      font-family: $sans
//      color: $text-light
//      font-size: 16px
//  a
//    font-family: $sans
//    font-size: 16px
//    color: $tertiary