.filter-item input[type="checkbox"]
  display: inline
  margin: 5px 5px 5px 0
  background-color: #ddd
  &:focus
    background-color: $tertiary

.filter-item label
  display: inline
  font-family: $sans
  font-size: 14px
  margin: 10px 0
  color: $text

.filter-wrap
  @include span-columns(3 of 12)
  margin: 0 5% 0 0
  padding: 0
  display: block

.filters
  background-color: white
  padding: $spacer-cyan $spacer-green
  h4
    font-size: 13px
    color: $tertiary
    margin: 0
    padding: 5px 0
    font-family: $sans
    font-weight: 700

.results
  @include span-columns(8 of 12)

.job-result
  background-color: white
  width: 100%
  margin: 10px 0
  padding: $spacer-green $spacer-cyan
  color: $text
  h4
    margin: 0
    padding: 7px 0
    font-size: 26px
    font-family: $header
  ul
    list-style-type: none
    margin: 0
    li
      font-family: $sans
      color: $text
      font-size: 16px
  a
    font-family: $sans
    font-size: 16px
    color: $tertiary

