.apply-button
  display: block
  margin: 5% auto 0
  border: 0
  outline: 0
  background: transparent
  padding: 5px 10px

.md-close
  margin-top: 20px
  margin-left: 30px
  font-size: 40px
  position: absolute
  z-index: 999
  +media($mobile)
    font-size: 20px

.md-modal
  margin: auto
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  width: 100vw
  height: 100vh
  background-color: rgba(255,255,255,0.6)
  z-index: 2000
  visibility: hidden
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  backface-visibility: hidden

.md-show
  visibility: visible

.md-overlay
  position: fixed
  width: 100vw
  height: 100vh
  visibility: hidden
  top: 0
  left: 0
  z-index: 1000
  background: rgba(255,255,255,0.6)
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s

.md-show ~ .md-overlay
  opacity: 1
  visibility: visible

.md-effect-12 .md-content
  -webkit-transapplymodal: scale(0.8)
  -moz-transapplymodal: scale(0.8)
  -ms-transapplymodal: scale(0.8)
  transapplymodal: scale(0.8)
  opacity: 0
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s

.md-show.md-effect-12 ~ .md-overlay
  background-color: #e4f0e3

.md-effect-12 .md-content
  h3
    background: transparent
  background: transparent

.md-show.md-effect-12 .md-content
  -webkit-transapplymodal: scale(1)
  -moz-transapplymodal: scale(1)
  -ms-transapplymodal: scale(1)
  transapplymodal: scale(1)
  opacity: 1

.overlay, .applymodal-panel.one:before
  position: absolute
  top: 0
  left: 0
  display: none
  background: rgba(0, 0, 0, 0.8)
  width: 100%
  height: 100%

.applymodal
  z-index: 15
  position: relative
  background: #FFFFFF
  border-radius: 4px
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1)
  box-sizing: border-box
  margin: 0 auto 10px
  overflow: hidden

.applymodal-toggle
  z-index: 10
  position: absolute
  top: 20px
  right: 60px
  background: transparent
  border-radius: 100%
  -webkit-transapplymodal-origin: center
  transapplymodal-origin: center
  -webkit-transapplymodal: translate(0, -25%) scale(0)
  transapplymodal: translate(0, -25%) scale(0)
  opacity: 0
  cursor: pointer
  -webkit-transition: all 0.3s ease
  transition: all 0.3s ease
  &:before, &:after
    content: '\f057'
    font-family: 'FontAwesome'
    display: block
    position: absolute
    top: 50%
    left: 50%
    font-size: 40px
    background: $primary
    color: white
    -webkit-transapplymodal: translate(-50%, -50%)
    transapplymodal: translate(-50%, -50%)
  &:before
    -webkit-transapplymodal: translate(-50%, -50%) rotate(45deg)
    transapplymodal: translate(-50%, -50%) rotate(45deg)
  &:after
    -webkit-transapplymodal: translate(-50%, -50%) rotate(-45deg)
    transapplymodal: translate(-50%, -50%) rotate(-45deg)
  &.visible
    -webkit-transapplymodal: translate(0, -25%) scale(1)
    transapplymodal: translate(0, -25%) scale(1)
    opacity: 1

.applymodal-group
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  margin: 0 0 20px
  &:last-child
    margin: 0
  label
    display: block
    margin: 0 0 10px
    color: $text
    font-size: 12px
    font-weight: 500
    line-height: 1
    font-family: $sans

.two .applymodal-group label
  color: #FFFFFF

.applymodal-group input
  outline: none
  display: block
  background: rgba(0, 0, 0, 0.1)
  width: 100%
  border: 0
  border-radius: 4px
  box-sizing: border-box
  padding: 12px 20px
  color: rgba(0, 0, 0, 0.6)
  font-family: inherit
  font-size: inherit
  font-weight: 500
  line-height: inherit
  -webkit-transition: 0.3s ease
  transition: 0.3s ease
  &:focus
    color: rgba(0, 0, 0, 0.8)

.two .applymodal-group input
  color: #FFFFFF
  &:focus
    color: #FFFFFF

.applymodal-group button .applysubmit
  outline: none
  background: $primary
  width: 100%
  font-family: $header !important
  border: 0
  padding: 12px 20px
  color: #FFFFFF
  font-family: inherit
  font-size: inherit
  font-weight: 500
  line-height: inherit
  cursor: pointer

.two .applymodal-group button
  background: #FFFFFF
  color: $primary

.applymodal-group
  .applymodal-remember
    font-size: 12px
    font-weight: 400
    letter-spacing: 0
    text-transform: none
    input[type='checkbox']
      display: inline-block
      width: auto
      margin: 0 10px 0 0
  .applymodal-recovery
    color: $primary
    font-size: 12px
    text-decoration: none

.applymodal-panel
  padding: 60px calc(5% + 60px) 60px 60px
  box-sizing: border-box
  &.one
    &:before
      content: ''
      display: block
      opacity: 0
      visibility: hidden
      -webkit-transition: 0.3s ease
      transition: 0.3s ease
    &.hidden:before
      display: block
      opacity: 1
      visibility: visible
  &.two
    z-index: 5
    position: absolute
    top: 0
    left: 95%
    background: $primary
    width: 100%
    min-height: 100%
    padding: 60px calc(10% + 60px) 60px 60px
    -webkit-transition: 0.3s ease
    transition: 0.3s ease
    cursor: pointer
    &:before, &:after
      content: 'more\00a0\00a0information'
      display: block
      position: absolute
      top: 60px
      left: 1.5%
      font-size: 25px
      font-family: sans-serif
      color: rgba(255, 255, 255, 0.3)
      text-transform: uppercase
      transform: rotate(90deg)
      height: 30px
      width: 20px
      -webkit-transition: 0.3s ease
      transition: 0.3s ease
      +media($mobile)
        font-size: 16px
        left: -1.5%
    &:hover
      left: 93%
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
      &:before, &:after
        opacity: 0
    &.active
      left: 10%
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
      cursor: default
      &:before, &:after
        opacity: 0

.applymodal-header
  margin: 0 0 40px
  h1
    padding: 4px 0
    color: $primary
    font-size: 24px
    font-weight: 700
    text-transapplymodal: uppercase
  h5
    color: $primary

.two .applymodal-header h1
  position: relative
  z-index: 40
  color: #FFFFFF

.two .applymodal-header h5
  position: relative
  z-index: 40
  font-size: 16px
  color: #FFFFFF
  font-family: $sans
  font-weight: 100

.nf-form-fields-required
    display: none

.footer-form
    margin: 0 auto
    display: block !important
    +media($mobile)
        padding-bottom: $spacer-blue

.field-wrap
    width: 80%

.input-holder, .ninja-forms-field
    position: relative
    margin: 0 0 20px

.footer-label, .nf-field-label, .nf-field-1
    font-family: $sans
    color: #fff
    font-size: 14px
    font-weight: 300
    +media($hd)
        font-size: 14px
    +media($tablet)
        font-size: $base-small
    +media($mobile)
        font-size: $base-base

.footer-input, .footer-textarea, .ninja-forms-field
    border: 0
    outline: 0
    padding: 10px 20px
    background-color: #efefef
    width: 80%
    resize: none
    transition: .3s
    font-family: $sans 
    font-weight: 300
    font-size: 14px
    color: $primary
    padding: 11px
    margin-top: 10px
    +media($hd)
        font-size: $base-base
        padding: 15px
        width: 80%
    +media($tablet)
        width: 100%
        font-size: 16px
    +media($mobile)
        width: 90%
        padding: 15px
        font-size: 16px
        border-radius: 0

.ninja-forms-req-symbol
    color: white

.footer-textarea
    min-height: 100px
    +media($hd)
        min-height: 150px
    +media($mobile)
        margin: 8px auto 0 auto

.nf-error .ninja-forms-field
    border: 1px solid $error !important

.nf-error-msg
    font-family: $header
    color: $error
    font-size: 14px

.footer-error
    position: absolute
    z-index: 9
    display: none
    width: 40%
    padding: 5px
    margin-top: 10px
    background: $error
    color: #fff
    text-align: center
    +media($hd)
        width: 80%
    &:after
        content: ""
        position: absolute
        top: -10px
        left: 50%
        display: block
        margin-left: -10px
        border: solid
        border-color: $error transparent $error
        border-width: 0 10px 10px

.footer-is-valid
    border-color: $success !important
    transition: 0

.footer-not-valid
    border-color: $error
    transition: 0
    &+.message
        display: block !important

.footer-submit, #nf-field-4
    display: block
    padding: 8px
    border: 0
    width: 100%
    border-radius: 0
    background: $primary
    color: #fff
    font-family: $header
    font-size: 16px
    transition: .3s
    +media($hd)
        width: 80%
        padding: 10px
        font-size: $large-base
    +media($tablet)
        width: 100%
        border-radius: 0
        padding: 12px
        font-size: 16px
    +media($mobile)
        margin: 0 auto
        width: 90%
        font-size: 16px
        border-radius: 0

.header-form-mobile
    display: none
    +media($tablet)
        display: none
    +media($mobile)
        +span-columns(4 of 4)
        input.half
            +span-columns(2 of 4)
            +omega(2n)
            border: 0
            outline: 0
            padding: 10px 20px
            resize: none
            transition: .3s
            font-family: $sans
            border-bottom: 1px solid #efefef
            font-weight: 300
            font-size: 12px
            color: $primary
            padding: 11px
            margin-top: 10px
            transition: all .3s ease-in-out
            &:focus
                box-shadow: 0
                outline: none
                -webkit-appearance: none
                border-bottom: 1px solid $primary
        textarea
            +span-columns(4 of 4)
            +omega(1n)
            padding: 10px
            margin: 10px 0
            background: white
            border-bottom: 1px solid $text-light
            border: 0
            transition: all .3s ease-in-out
            resize: none
            font-family: $sans
            border-bottom: 1px solid #efefef
            font-weight: 300
            font-size: 12px
            color: $primary
            &:focus
                box-shadow: none
                outline: none
                border-bottom: 1px solid $primary
                border: 0
        .mobile-submit
            display: block
            width: 80%
            padding: 8px
            border: 0
            border-radius: 0
            background: $primary
            color: #fff
            font-family: $header
            font-size: 12px
            transition: .3s


.form-text
    position: absolute
    left: 40%
    transform: translateX(-50%)
    font-family: sans-serif
    text-transform: uppercase
    letter-spacing: 2px

ul.items
    position: absolute
    width: 30px
    height: auto
    top: 50%
    left: -60px
    transform: translateY(-50%)
    li
      width: 8px
      height: 8px
      margin: 10px 0
      background: white
      border-radius: 50%
      opacity: 0.4
      cursor: pointer
      &.active
        opacity: 1

.header-form
    +span-columns(12)
    display: flex
    flex-flow: row-wrap
    justify-content: center
    align-items: center
    margin: 26px 0
    span
        text-align: center
        font-family: $header
        color: $text
        font-size: 18px
        margin-right: 46px
    #nf-form-2-cont
        display: inline-flex
    #nf-field-5-container, #nf-field-6-container, #nf-field-14-container, #nf-field-8-container
        display: inline-flex
        margin-bottom: 0
    #nf-field-8
        background-color: $primary
        font-family: $header
        color: white
        text-transform: uppercase
        padding: 10px 20px
    #nf-field-5, #nf-field-6, #nf-field-14
        padding: 8px 20px
        background-color: #efefef
        border-bottom: 3px solid transparent
        font-family: $header
        color: $primary
        transition: all 0.3s ease
        &:focus
            border-bottom: 3px solid $primary
