#nf-form-4-cont
  background-color: transparent !important

#nf-field-21-wrap button
  width: 100% !important

.nf-next
  padding: 10px 20px
  font-family: $header
  color: white
  background-color: $primary

aside
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: linear-gradient(200deg, $primary, $tertiary)
  opacity: 0
  visibility: hidden
  -webkit-transition: all .5s ease
  transition: all .5s ease
  z-index: 2

.apply-form-wrap
    display: flex
    margin-top: 10%
    justify-content: center
    align-items: center
    .apply-form
        flex-flow: column wrap
        display: flex
        text-align: center


.open
  opacity: 1
  visibility: visible


.toggle-overlay
  padding: 15px 40px
  background: $primary
  border: 1px solid rgba(255, 255, 255, 0.4)
  color: white
  border-radius: 8px
  -webkit-transition: all .5s ease
  transition: all .5s ease
  &:hover
    border: 1px solid white

.close
  position: fixed
  top: 20%
  right: 60px
  color: white
  z-index: 3
  cursor: pointer
  font-family: sans-serif
  span
    border-radius: 4px
    height: 5px
    width: 35px
    background: white
    position: absolute
    display: block
    content: ''
    &:before, &:after
      border-radius: 4px
      height: 5px
      width: 35px
      background: white
      position: absolute
      display: block
      content: ''
    background: transparent
    &:before
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
    &:after
      -webkit-transform: rotate(-45deg)
      transform: rotate(-45deg)