#nf-form-4-cont
  background-color: transparent !important
  +media($xsmall)
    width: 300px
  +media($mobile)
    width: 350px

#nf-field-21-wrap button
  width: 100% !important

#nf-field-33, #nf-field-18, #nf-field-24, #nf-field-31, #nf-field-32
  margin-top: -5px

#nf-field-33-wrap, #nf-field-18-wrap, #nf-field-24-wrap, #nf-field-31-wrap, #nf-field-32-wrap
  margin-top: -15px

.nf-next, .nf-previous, #nf-field-25
  padding: 10px 20px
  font-family: $header
  color: white
  background-color: $primary
  border: 0
  outline: 0
  font-size: 16px

.nf-next
  +media($mobile)
    margin-left: -215px
  +media($xsmall)
    margin-left: -200px

.nf-next
  +media($mobile)
    margin-left: 0px
  +media($xsmall)
    margin-left: -200px

aside
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: linear-gradient(200deg, $primary, $tertiary)
  opacity: 0
  visibility: hidden
  -webkit-transition: all .5s ease
  transition: all .5s ease
  z-index: 2

.apply-form-wrap
    display: flex
    margin-top: 10%
    justify-content: center
    align-items: center
    .apply-form
        flex-flow: column wrap
        display: flex
        text-align: center
        h2
          font-size: 36px
          color: white
          font-family: $header
          line-height: 1.4
          margin: 0
          padding-bottom: 26px
        h5
          font-size: 20px
          color: white
          font-weight: 100
          font-family: $sans
          padding-bottom: 26px



.open
  opacity: 1
  visibility: visible


.toggle-overlay
  padding: 15px 40px
  background: $primary
  border: 1px solid rgba(255, 255, 255, 0.4)
  color: white
  -webkit-transition: all .5s ease
  transition: all .5s ease
  &:hover
    border: 1px solid white

.close
  position: fixed
  top: 20%
  right: 60px
  color: white
  z-index: 3
  cursor: pointer
  font-family: sans-serif
  span
    border-radius: 4px
    height: 5px
    width: 35px
    background: white
    position: absolute
    display: block
    content: ''
    &:before, &:after
      border-radius: 4px
      height: 5px
      width: 35px
      background: white
      position: absolute
      display: block
      content: ''
    background: transparent
    &:before
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
    &:after
      -webkit-transform: rotate(-45deg)
      transform: rotate(-45deg)
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


.job-btn
  padding: 10px 20px
  background-color: $primary
  color: white
  font-family: $header

.job-overlay
  background: rgba(0, 0, 0, 0.5)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.job-modal
  visibility: hidden

.job-modal__contents
  background: white
  width: 32rem
  position: absolute
  min-height: 32rem
  top: 0
  left: 0
  bottom: 0
  width: 100%
  margin: 0
  h1
    margin: 0
    padding: 0
    text-align: center
    display: block

.job-modal__close
  position: absolute
  right: 2rem
  top: 2rem
  text-decoration: none

.job-modal--show
  visibility: visible

.job-modal--transition
  -webkit-transform: scale(0.7)
  -moz-transform: scale(0.7)
  -ms-transform: scale(0.7)
  transform: scale(0.7)
  opacity: 0
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s

.job-modal--show .job-modal--transition
  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  -ms-transform: scale(1)
  transform: scale(1)
  opacity: 1

@media (max-width: 48rem)
  .job-modal__contents
    top: 0
    left: 0
    bottom: 0
    width: 100%
    margin: 0
  .job-modal__close
    display: block
  .job-modal--transition
    -webkit-transform: translateX(-0) translateY(150%)
    -moz-transform: translateX(-0) translateY(150%)
    -ms-transform: translateX(-0) translateY(150%)
    transform: translateX(-0) translateY(150%)