@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

body {
  background: #fff;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
}

/* Change Width and Height of Logo Image + Add Custom Image File */
.login h1 a {
  background-image: url(loginlogo.png);
  width: 206px;
  height: 60px;
  background-size: 206px 60px;
}
 
/* Add a few changes to the color and style of form itself */
.login label {
  color: #5b70ff;
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}
 
.login form .input {
  font-weight: normal;
}
 
.login #backtoblog a, .login #nav a {
  display:  none;
}
 
.wp-core-ui .button-primary {
  background: #5b70ff;
  border-radius: 0;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  width: 120px;
}
