@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

body {
  background: #fff;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
}

#loginform {
  display: flex;
  flex-flow:  column wrap;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.18) !important;
}
/* Change Width and Height of Logo Image + Add Custom Image File */
.login h1 a {
  background-image: url(loginlogo.png);
  width: 206px;
  height: 60px;
  background-size: 206px 60px;
}
 
/* Add a few changes to the color and style of form itself */
.login label {
  color: #5b70ff;
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}
 
.login form .input {
  font-weight: normal;
}
 
.login #backtoblog a, .login #nav a {
  display:  none;
}

.forgetmenot {
  line-height: 0;
}
 
.wp-core-ui .button-primary {
  background: #5b70ff;
  border-radius: 0;
  border: 0;
  outline: 0;
  width: 120px;
  font-family: 'Poppins', sans-serif;
  text-transform:  uppercase;
  box-shadow: 0;
}

.wp-core-ui .button-primary:hover {
  background: #5b70ff;
}
